nav{
    padding: 3rem;
    background-color: #121212;
}
p{
    color: black;
    margin-bottom: 2rem;
}
h1{
    font-size: 8rem;
}
.logo p{
    color: white;
    margin: 0;
}
article{
    max-width: 1280px;
    margin: 0 auto;
}
.bg-dark{
    background-color: #121212;
    color: white;
}
.bg-dark p{
    color: #fff;
}
article img{
    width: 100%;
}
article div{
    padding: 5rem;
}
article address{
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
article address a{
    color: #fff;
    text-decoration: underline;
}
article address a:hover{
    color: rgb(231, 231, 231);
}
@media (max-width: 1000px) {
    h1{
        font-size: 5rem;
    }
    article address{
        flex-direction: column;
        gap: 0;
    }
}